@model PhotoAlbum.Models.Photo

@{
    ViewData["Title"] = "Photo Details";
}

<h1>
    Photo Details
</h1>

<div class="w-50">
    <img src="/images/@Model.Filename" alt="@Model.Title" class="img-fluid" />
</div>

<table class="table w-50">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhotoId)
        </th>
        <td>
            @Html.DisplayFor(model => model.PhotoId)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <td>
            @Html.DisplayFor(model => model.Title)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
    </tr>    
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <td>            
            @Model.CreateDate.ToString("MMM d, yyyy")
        </td>
    </tr>
</table>

<p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Go back</a>
</p>
